*{  max-width: 1200px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
   width :100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 25%;
   gap: 1rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;;
    gap: 1rem
    ;
}
.cardscontainer{
    width: 100vw;
    height: max-content;
    display: grid;
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px,400px));
    margin-right: 10%;
}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: left;
    margin: 1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.controls{
    display: flex; 
    justify-content: space-between; 
    margin: 5%;
}
.info{
    display: flex;
    gap:5px;
}
/* @media(max-width:768px){
    .cardscontainer{
    width: 100vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(8,1fr);
    margin-right: 10%;
    }
} */