@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald", sans-serif;
}
.background{
   background-image: url("spiderman.jpeg"); 
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}
.container h1{
    font-size: 4rem ;
    color: rgba(207, 246, 148, 0.759);
}
.setting{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#dbinput{
    width: 10rem;
    height: 2rem;
   background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
color: aliceblue;
font-weight: bold;
font-size: 1.2rem;
border-radius: 10px;
}
#dobBut{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(244, 31, 152, 1) 65%, rgba(253, 29, 29, 1) 98%, rgba(252, 176, 69, 1) 100%);
color: aliceblue;
padding: 2px;
border-radius: 10px;
}
.Result{
    display: none;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.data{
    display: flex;
    gap: 4rem;
}
.label{
    padding:0%;
    margin: 1rem;
    border-radius: 7px;
    color: aliceblue;
    font-size: 2rem;
}    
.time{
    padding: 0%;
    font-size: 5rem;
    text-align: center;
    color: rgb(223, 91, 117);
    font-weight: bold;
}   
.years{
    display: grid;
    grid-template-columns: repeat(1,1fr);
} 
.months{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.days{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.hours{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.mintues{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.seconds{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
#quote{
    font-size: 1.8rem;
    color: #a582bc;
}