* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background: #1c0024;
    background: linear-gradient(90deg, rgba(28, 0, 36, 1) 0%, rgba(59, 93, 173, 1) 0%, rgba(0, 212, 255, 1) 100%);
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    height: 510px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;

}

img {
    width: 380px;
    height: 400px;
    border-radius: 10px;
}

.box h2 {
    font-weight: bold;
    font-size: 1.7rem;
}

.box p {
    font-size: 1.5;
}