@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color:#6366F1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-attachment:var(--background-color);
    padding: 2rem;
}
.header{
    display: flex;
    justify-content: space-around;
}
.controls{
    display: none;
    gap:1.5rem;
}
@media screen and (min-width:768px){
    .controls{
        display: flex;
        gap: 1.5rem;
    }
}
.navlink{
    font-size: 1.125rem;
    font-weight: 600;
    color: #718096;
    transform: color 0.1s;
}
.navlink:hover{
    color:var(--link-color);
}
.contact a{
    display: none;
    padding: 0.75rem 1.5rem;
    background-color: var(--link-color);
    text-decoration: none;
    color: var(--light-gray);
    border-radius: 0.375rem;
}
@media  screen and (min-width:768px) {
    .contact a{
        display:inline
    }
}
.contact a:hover{
    background-color: #5254f8;
}
.logo a{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
    margin-top: 0%;
    padding-top: 0%;
}

#logoicon{
    width: 1.938rem;
    height: 1.875rem;
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    display: none;
    margin-right: 2rem;
}
@media screen and (max-width:768px) {
    .menu-icon{
        display: block;
    }
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5% 10%;
    }
#picture{
    width: 60vw;
    overflow: hidden;
    border-radius: 0.635rem;
    box-shadow: 0px 4px 8px rgb(0,0,0,1);
}  

.content{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}  
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
#section-lable{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
#section-title{
   font-size: 2.25rem;
   color: var(--text-color); 
   padding: 1rem;
}
#section-description{
color: var(--gray);
font-size: 1.13rem;
}
.btngroup{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
}
#start{
    padding: 0.75rem 1.5rem;
    background-color: var(--link-color);
    text-decoration: none;
    color: var(--light-gray);
    border-radius: 0.375rem;
    
}
#tour{
   padding: 0.75rem 1.5rem;
    background-color: var(--dark-gray);
    text-decoration: none;
    color: var(--light-gray);
    border-radius: 0.375rem;
}

#start:hover{
    background-color: #5254f8;
}
#tour:hover{
    background-color: var(--gray);
}
.box{
    display: flex;
    justify-content: center;
}

@media  screen and (min-width:760px) {
    .container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 5% 10%;
    }
    .content{
    display: flex;
    flex-direction: column;
    text-align: left;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    margin-top: 2%;
    margin-right: 3rem;
   }

    #section-title{
     padding-left: 0%;
     font-size: 4rem;
    }

    .btngroup{
        justify-content: start;
        padding-left: 0%;
    }
    #picture{
        width: 35vw;
    }
    #section-label{
        font-size: 0.5rem;
    }
    #section-description{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
.company-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    animation:  slideFromLeft 1s ease forwards; ;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color:var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    padding: 1.9rem 2.5rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}
.svg-img{
    height: 1.56rem;
}   
.logo-txt{
    font-size: 1rem;
    margin-top: 0.333rem;
}

@media screen  and (min-width:640px){
    .company-grid{
       grid-template-columns: repeat(4,1fr); 
    }
    #company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}
.feature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    padding: 3% 30% 2%;
    margin-top: 2rem;
}
.card-grid{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 1rem;
 margin-top: 1.5rem;
 height: 40rem;
 width: 43rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    margin: 0rem 0.6rem 0.6rem 0.6rem;
    text-align: center;
}
.card-img{
    width: 1.4rem;
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 90px;
}
.card-para{
    font-size: 0.9rem;
    text-align: center;
}
#heading{
    margin-bottom: 2.5%;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}
#descript{
    font-size: 0.789rem;
    color: var(--dark-gray);
    font-weight: 400;
    text-align: center;
    width: 44rem;
}
.cardtitle{
    font-weight: bold;
}

@media screen and (max-width:700px) {
    .card-grid{
        width: 30rem;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-container{
        padding: 0%;
      height: 75rem;  
    }
    #descript{
        width: fit-content;
    }
}
.test-container{
 display: flex;
 justify-content: center;
 align-items: center;
}
.test-content{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 2%;
}
.test-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.test-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 1rem;
    gap: 0.8rem;
    padding: 5% 5% 5% 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile{
    width: 5rem;
}
.p-name{
  color: var(--link-color);
}
.test-description{
    color: var(--dark-gray);
    font-size: 0.8rem;
    font-weight: 600;
}
.role{
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 0.8rem;
}
.test-title{
    font-weight: bold;
}
.test-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0,0,0,2);
    border: 1px solid rgb(63, 63, 224);
}
@media screen and (max-width:800px) {
    .test-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.news-container{
  max-width: 1280px;
  background-color: var(--background-color);
  padding: 0 auto;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.news-content{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--light-gray); 
}
.news-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-form{
    display: flex;
    margin: 10%;
    flex-direction: column;
    align-items:start;
    gap: 1rem;
    justify-content: center;
}
.title-descript{
    text-align: left;
}
.terms{
    text-align: start;
    color: var(--dark-gray);
    font-size: 0.6rem;
    font-weight: 500;
}
.terms a{
    color: #2563eb;
    text-decoration: underline;
    
}
#news-head{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
}
#form-input{
    padding: 0.4rem;
}
#news-btn{
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem ;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: white;
}
#news-btn:hover{
    background-color: var(--link-color);
}
@media screen and (max-width:640px) {
   .news-picture{
    display: none;
   }
   .news-content{
    grid-template-columns: repeat(1,1fr);
   }
}
.footer{
    margin-top: 5rem;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-gray);
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
}
.footer-content{
    display: flex;
    margin: 4rem;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    
}
.foot-heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    margin-right: 3rem;
    text-align: center;
}
.brand{
    display: flex;  
}
.brand img{
    width: 1.5rem;   ; 
}
.socials{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 50%;
}
.prodcuts{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1.5rem;
    text-align: left;
}
.support{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1.5rem;
    text-align: left;
}
.legal{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1.5rem;
    text-align: left;
}
.company{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1.5rem;
    text-align: left;
}
@media screen and (max-width:840px) {
   .footer-content{
    flex-direction: column;
   }
}