*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 50, 50);
    display: grid;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: repeat(4,400px);
    padding: 4rem;
}
.item{
    height: 100px;
    width: 100px;
    background-color:rgb(23, 226, 189);
    border: 5px solid white;
}