*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 50, 50);
    display: grid;
   grid-template-columns: 1;
   grid-template-rows: 6;
    padding: 4%;
}
.item{
    background-color: rgb(82, 82, 197);
    border: 4px solid black;
    margin: 0.5rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

@media (min-width: 768px) {
    .container{
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    }
  #header {
    grid-column-start: 1;
    grid-column-end: 4;
}
#footer{
   grid-column-start: 1;
    grid-column-end: 4; 
}
#sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
#content{
   grid-column-start: 2;
    grid-column-end: 4;  
}  
}