.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    transition: all 3s linear 1s;
}
.box:hover{
    transform: scale(2);
}
p{
    font-size: 38px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}