@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --primary:#393e33;
    --secondary:#145c72;
    --secondary-light:#00a0d1;
}
body{
    background-image:url("background.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins",sans-serif; 
    display: flex;
    align-items: center; 
}
.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 4rem;
    background-color: var(--primary);
    height: 40% ;
    width: 35%;
    align-items: center;
    gap: 2rem;
    border-radius: 10px ;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-left: 10%;
}
.box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem
}
.input-marks{
    background-color: #393e33;
    color: white;
    border: solid 1px white;
    padding: 0.2rem;
}
#btn{
    background-color:#00a0d1;
    padding: 0.2rem;
    border: none;
    border-radius: 2px;
    color: white;
}
@media screen and (max-width:1075px){
    body{
        justify-content: center;
    }
    .container{
      margin: 0%;
      width: 40%;
      height: 60%;
    }
    .box{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:400) {
    .input-marks{
    background-color: #393e33;
    color: white;
    border: solid 1px white;
    padding: 0.2rem;
    width: 2rem;
    height: 2.5rem;
}
}